
.extend-reglas-span {
        display: block;
        font-family: "Source Code Pro", monospace;
        white-space: nowrap;
        border-right: 4px solid;
        animation-fill-mode: forwards;
        overflow: hidden;
        
}
