
h1, h2, h3, h4, h5, h6, summary, strong {
    font-family: "Kode Mono", monospace;
    color: rgb(32, 92, 212);
}
p, span, ul{
    color: rgb(0, 129, 11);
    font-family: "Source Code Pro", monospace;
}

body {
    background: black;
}