


// variables color 
$color-verde-texto: #00810b ;  
$color-azul-titulo: rgb(32, 92, 212);  
$color-negro-terminal: rgba(20, 17, 29, 0.996);
$color-negro-terminal-transparente: rgba(20, 17, 29, 0.641);
$color-verde-blur:rgba(6, 92, 6, 0.123) ;
$color-verde-oscuro:rgb(2, 44, 6) ;
$color-verde-claro:#3ecb13;
$color-azul-claro: rgb(71, 150, 252);