


// variables color 
$color-verde-texto: rgb(0, 129, 11) ;  
$color-azul-titulo: rgb(32, 92, 212);  
$color-negro-terminal: rgba(20, 17, 29, 0.938);
$color-negro-terminal-transparente: rgba(20, 17, 29, 0.539);
$color-verde-blur:rgba(6, 92, 6, 0.123) ;
$color-verde-oscuro:rgb(2, 44, 6) ;
$color-verde-claro:rgb(62, 203, 19);