
header{

    .header{
        z-index: 99999;
        background-color: rgb(0, 0, 0);
        .contenedor-fluido{
            img{
                width: 3rem;
            }
            .boton-menu{
                .menu-icon{
                    img{
                        width: 2rem;
                    }
                }
            }
            .contenedor-nav-header{
                align-items: center;
                text-align: center;
                .texto-header {
                    color: $color-verde-texto;
                    &:hover{
                        color: $color-verde-claro;
                    }
                }
            }
        }
        
    }
    
}

