
.index-main{
    background-color: black;

    .index-reglas{
        article{
            background-color: $color-negro-terminal;

            .reglas{
                /* Añade las reglas de animación */
                    @extend .extend-reglas-span;
                    .regla-typing1 {
                        animation: typing 3s steps(47) infinite, efectoBorde .5s step-end infinite alternate;
                    }

                    .regla-typing2 {
                        animation: typing 3s steps(47) infinite, efectoBorde .5s step-end infinite alternate;
                    }

                    .regla-typing3 {
                        animation: typing 2.5s steps(37) infinite, efectoBorde .5s step-end infinite alternate;
                    }

                    .regla-typing4 {
                        animation: typing 2.5s steps(26) infinite, efectoBorde .5s step-end infinite alternate;

                    }
                }   
                .etica{
                    .etica-typing1{
                        animation: typing 3s steps(54) infinite, efectoBorde .5s step-end infinite alternate;
                    }
                    .etica-typing2{
                        animation: typing 3s steps(62) infinite, efectoBorde .5s step-end infinite alternate;
                    }
                    .etica-typing3{
                        animation: typing 3s steps(51) infinite, efectoBorde .5s step-end infinite alternate;
                    }
                }
            }
        }

        .div-franja-divisora{
            height: 100px;
            background-image: url(./../);
            h2{
                color: $color-verde-texto;
            }
        }

        .nuestras-tecnologias{
            background-color: rgba(6, 92, 6, 0.123) ;
            .img-de-fondo{
                background-image: url(./../../video/codigo-binario.mp);
                @extend .background;
                height: 700px;
                div{
                    height: 100%;
                    @include blur($color-verde-blur, blur(5px));
                     h3{
                        color: rgb(62, 203, 19);
                    }
                    p{
                        color: rgb(209, 207, 214);
                    }
                }
            }
        }
}